[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
telethon = "*"
pymongo = "*"
matplotlib = "*"
pymorphy2 = "*"
nltk = "*"
stop-words = "*"
pandas = "*"
npyscreen = "*"
dotenv = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
